body{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;

}
.topb:hover{
    font-size:12px;
    color:rgb(81, 68, 255);
    background:#ffff50;
    font-weight:bold;
    word-spacing:0.3em;
    letter-spacing:0.02em;
    text-align:center;
    cursor:pointer;
    border-radius: 0px;
    box-shadow: none;
    text-decoration: underline; 
    letter-spacing:1px;
}
.topb{
    font-size:12px;
    width:75px;
    height:75px;
    font-weight:bold;
    background-color:inherit;
    text-transform: uppercase;
    word-spacing:0.3em;
    letter-spacing:0.02em;
    text-align:center;
    border:none;
    padding: 10px;    
    background:#ffff50;
    transition-property: background-color;
    transition-duration: 750ms;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    letter-spacing:1px;

}

.topBar{
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background:#ffff50;
}
#profile{
    border:solid black 1px;
    width:50%;
    height:50%;
    margin:25% 25% 25% 25%;
    text-align:center;
}
/*#profilePictures{
    margin:10px;
    padding:20px;
    background-color: rgb(0, 0, 0);
    color:white;

} */