body{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;

}
*{
    margin:0;
    padding:0;
}
.topb:hover{
    font-size:12px;
    color:rgb(81, 68, 255);
    background:#ffff50;
    font-weight:bold;
    word-spacing:0.3em;
    letter-spacing:0.02em;
    text-align:center;
    cursor:pointer;
    border-radius: 0px;
    box-shadow: none;
    text-decoration: underline; 
    letter-spacing:1px;
}
.topb{
    font-size:12px;
    width:75px;
    height:75px;
    font-weight:bold;
    background-color:inherit;
    text-transform: uppercase;
    word-spacing:0.3em;
    letter-spacing:0.02em;
    text-align:center;
    border:none;
    padding: 10px;    
    background:#ffff50;
    transition-property: background-color;
    transition-duration: 750ms;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    letter-spacing:1px;

}

.topBar{
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background:#ffff50;
}
#profile{
    border:solid black 1px;
    width:50%;
    height:50%;
    margin:25% 25% 25% 25%;
    text-align:center;
}
h2 {
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Arial';
}

p {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Permanent Marker', cursive;
}

ul,li{
    list-style:none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul li a{
    text-decoration:none;
    color:#000;
    background:#ffff50;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
ul li{
    margin:1em;
}
ul li:nth-child(even) a{
    transform:rotate(4deg);
    top:5px;
}
ul li:nth-child(3n) a{
    transform:rotate(-3deg);
    top:-5px;
}
ul li:nth-child(5n) a{
    transform:rotate(5deg);
    top:-10px;
}
#addNote{
    background: #ffd650;
    margin-left:5px;
    margin-top: 30px;
    padding:5px;
    width:150px;
    height:150px;
    border-radius: 50%;
    transition: background-color 750ms, box-shadow 750ms;
    border: none;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#addNote:hover{
    background: #ffe180;
    cursor:pointer;
    box-shadow:none;
}

#plus{
    font-size:55px;  
}

#subtitle{
    font-size:15px;
}
