<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Sticky</title>
</head>
<body>
    <div class="header">
      <h1>Sticky</h1>
      <h6>By Adhithya and Arjun</h6>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
        <ul>
            <li>
              <a href="#" contenteditable>
                <h2>Title #1</h2>
                <p>Text Content #1</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #2</h2>
                <p>Text Content #2</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #3</h2>
                <p>Text Content #3</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #4</h2>
                <p>Text Content #4</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #5</h2>
                <p>Text Content #5</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #6</h2>
                <p>Text Content #6</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #7</h2>
                <p>Text Content #7</p>
              </a>
            </li>
            <li>
              <a href="#" contenteditable>
                <h2>Title #8</h2>
                <p>Text Content #8</p>
              </a>
            </li>
            <li>
              <button id="addNote">
                  <div>
                      <h1 id="plus">+</h1>
                      <p id="subtitle">add sticky note</p>
                  </div>
              </button>
            </li>
          </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/main.js"></script>

</body>
</html>